-----BEGIN CERTIFICATE-----
MIIDFjCCAf6gAwIBAgIRAOn3tTt2GUm/gLFhtqQ9dZQwDQYJKoZIhvcNAQELBQAw
PDE6MDgGA1UECgwxbmVvYWdyaS50ZWNoL2U5ZjdiNTNiLTc2MTktNDliZi04MGIx
LTYxYjZhNDNkNzU5NDAeFw0yMzA4MTAxNTEzNDRaFw0zMzA4MDcxNTEzNDRaMDwx
OjA4BgNVBAMMMW5lb2FncmkudGVjaC9lOWY3YjUzYi03NjE5LTQ5YmYtODBiMS02
MWI2YTQzZDc1OTQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC+8JPZ
hFOeT/AuF2EUzH30izBKf5IbLt014tVvG0nvQlLq+v28hItugsFHQyV/NUXnwmEK
Egg6bf4ZauvErqgpCHko8G06XnJZkEv3FEtRBt5Z+XDhs48XBFT55F28a05eaZ5l
/aLU8SZ82uuRdDVBXhbfmCR4dhD3hnQjA87VEXBcdi6Ea/4TDB7DpTwZrZRzDmYw
mzSiQacwx+OwrynLx9tvZZUukqprpBjX44awW5dDxB3r/99/zrIrkk0FCGA9ic/9
jcGBjYb8Z1bFH36Z4x/ttOZi5s9QnMuE+fuTEae5QUZWMyDflZKn0QlKJD+I236C
HNOMHqgSHlqdnNTDAgMBAAGjEzARMA8GA1UdEwQIMAYBAf8CAQAwDQYJKoZIhvcN
AQELBQADggEBAFpCKofJDdQ/glAwsukMKskoXUBDbGOKS8BkFOyW5Lbhon/riLkt
0xC96L+cS6VmBxYy5L5uF7UNpLDSJxk3+FmA8po6fhn76VXn2pOEt9wLwDN8pD0c
yuqBJENLCQSfHo7D7+q9BSz48U/3Y5sC35dfxe72s9eLYLcIJC6Z434Khogi8mLQ
ZHrrwrfjQ7K0P5LG8XSoj89OGK2dsadrOEzxRuLGPFowJ1OgXNkt36ST2FiYAZswdRY
Ewa3K5A3RkN0fgmdBbPgs+fEsC2uSV+8mdtF3XO+rjwdTz1HsSNk5lQJo3JhqH9N
jKWmwHx3kEtdeFa9aJ8uu/2pPYRDDcDPujI=
-----END CERTIFICATE-----